h1 {{ course.name }}
p Number:   {{ course.number }}
p ECTS:     {{ course.ects }}
p Type:     {{ course.type }}
p Lecturer: {{ course.lecturer }}
p Module:
  ul(class="list")
    li
      a(ng-href="/module/{{ module.id }}" class="module w3-btn w3-teal w3-round") {{ module.name }}