div(class="w3-container")
  h1 Courses
  p
    a(ng-href="/courses/new" class="course w3-btn w3-round w3-red")
      span
        i(class="fa fa-plus" aria-hidden="true")
        span &nbsp;Create course
  p
    ul(class="list")
      li(ng-repeat="course in courses")
        a(ng-href="/course/{{ course.id }}" class="course w3-btn w3-blue w3-round") {{ course.number + ' | ' + course.name }}