div(class="w3-card-4 create-form")
  div(class="w3-container w3-blue")
    h2 New Course
  form(class="w3-container w3-padding-small")
    div(class="w3-row")
      div(class="")
        label(class="w3-text-blue") Name:
        input(type="text" class="w3-input w3-border" value="{{ course.name }}")
    div(class="w3-row")
      div(class="")
        label(class="w3-text-blue") Number:
        input(type="text" class="w3-input w3-border" value="{{ course.number }}")
    div(class="w3-row")
      div(class="")
        label(class="w3-text-blue") ECTS:
        input(type="number" class="w3-input w3-border" min="1" max="50" value="{{ course.ects }}")
    div(class="w3-row")
      div(class="")
        label(class="w3-text-blue") Type:
        input(type="text" class="w3-input w3-border" value="{{ course.type }}")
    div(class="w3-row")
      div(class="")
        label(class="w3-text-blue") Lecturer:
        input(type="text" class="w3-input w3-border" value="{{ course.lecturer }}")
    div(class="w3-row")
      div(class="")
        label(class="w3-text-blue") Description:
        input(type="text" class="w3-input w3-border" value="{{ course.description }}")
    div(class="w3-row")
      div(class="")
        label(class="w3-text-blue") Objective:
        input(type="text" class="w3-input w3-border" value="{{ course.objective }}")
    div(class="w3-row")
      div(class="")
        label(class="w3-text-blue") Module:
        ul(class="list")
          li(ng-repeat="module in modules")
            a(ng-href="/module/{{ module.id }}" class="module") {{ module.name }}
              i(class="fa fa-check" aria-hidden="true")
    button(type="submit")