div(class="w3-card create-form")
  div(class="w3-container w3-blue")
    h2 New Course
  form(class="w3-container w3-padding-small" action="/api/courses/new" method="POST")
    div(class="w3-row")
      label(class="w3-text-blue") Module:
      select(class="w3-select w3-teal" name="course[moduleId]")
        option(ng-repeat="module in modules" value="{{ module.id }}")
          a {{ module.name }}
    div(class="w3-row")
      label(class="w3-text-blue") ID:
      input(type="text" class="w3-input w3-border" value="{{ course.id }}" name="course[id]")
    div(class="w3-row")
      label(class="w3-text-blue") Module:
      select(class="w3-select" name="course[moduleId]")
        option(ng-repeat="module in modules" value="{{ module.id }}")
          a {{ module.name }}
    div(class="w3-row")
      label(class="w3-text-blue") Name:
      input(type="text" class="w3-input w3-border" value="{{ course.name }}" name="course[name]")
    div(class="w3-row")
      label(class="w3-text-blue") Number:
      input(type="text" class="w3-input w3-border" value="{{ course.number }}" name="course[number]")
    div(class="w3-row")
      label(class="w3-text-blue") ECTS:
      input(type="number" class="w3-input w3-border" min="1" max="50" value="{{ course.ects }}" name="course[ects]")
    div(class="w3-row")
      label(class="w3-text-blue") Type:
      input(type="text" class="w3-input w3-border" value="{{ course.type }}" name="course[type]")
    div(class="w3-row")
      label(class="w3-text-blue") Lecturer:
      input(type="text" class="w3-input w3-border" value="{{ course.lecturer }}" name="course[lecturer]")
    div(class="w3-row")
      label(class="w3-text-blue") Description:
      input(type="text" class="w3-input w3-border" value="{{ course.description }}" name="course[description]")
    div(class="w3-row")
      label(class="w3-text-blue") Objective:
      input(type="text" class="w3-input w3-border" value="{{ course.objective }}" name="course[objective]")
    br
    button(type="submit" class="module w3-btn w3-red w3-round") Submit