block config
    include config

doctype html
html
    head
        title #{title}
    body
        block scripts.
            script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js')
            script(src='/reload/reload.js')
        block styles.
            link(rel='stylesheet', href='/css/styles.css')

        div(ng-app="app" ng-controller="ctrl")
            p
                form
                    label(for="name") Name:
                    input(type="text" ng-model="name" id="name")
            h1 {{ greeting + " " + name + "!" }}
            p {{ description }}
            p Courses:
            ul(id="courses_list")
                li(ng-repeat="course in courses")
                    a(href="#") {{ course.number + ' | ' + course.name }}
        script const greeting = '#{greeting}'
        script(src='/js/greeter.js')
