* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

#app-container {
    margin: 8px;
}

input#name {
    margin-left: 10px;
}

/*COURSES / MODULES*/

ul.list {
    list-style: none;
}

ul.list > li {
    margin-bottom: 50px;
}

ul.list > li > a {
    /*border-style: solid;*/
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
    text-decoration: none;
    color: #4b4b4b;
}

ul.list > li > a:hover {
    transition: all 60ms ease;
    opacity: .85;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

/*DASHBOARD*/

.dashboard {
    width: 100%;
}
ul#dashboard {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#dashboard > li {
    float: left;
}

ul#dashboard > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul#dashboard > li a:hover {
    background-color: #111;
}