* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

#app-container {
    margin: 20px;
}

input {
    margin-left: 10px;
}

/*COURSES / MODULES*/

ul.list {
    list-style: none;
}

ul.list > li {
    margin-bottom: 50px;
}

/*MENU*/

menu {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.active {
    background-color: #4CAF50 !important;
}

.create-form {
    max-width: 500px;
}