div(class="w3-bar w3-black" id="menu")
  a(ng-href="home" ng-class="getClass('/home')" class="w3-bar-item w3-button") Home
  a(ng-href="courses" ng-class="getClass('/courses')" class="w3-bar-item w3-button") Courses
  a(ng-href="modules" ng-class="getClass('/modules')" class="w3-bar-item w3-button") Modules