doctype html
html(ng-app="app")
  head
    title= title
    base(href="/")
  body
    block scripts.
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js')
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js')
      script(src='https://use.fontawesome.com/12fb7f118b.js')
      script(src='/reload/reload.js')
      script(src='app.js')
      script(src='app-router.js')
      script(src='app-api-service.js')
      script(src='components/menu/menu.component.js')
      script(src='components/home/home.component.js')
      script(src='components/courses/course-list.component.js')
      script(src='components/courses/course-detail.component.js')
      script(src='components/courses/course-create.component.js')
      script(src='components/modules/module-list.component.js')
      script(src='components/modules/module-detail.component.js')
      script(src='components/modules/module-create.component.js')
    block styles.
      link(rel='stylesheet' href='styles/styles.css')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto')
      link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    menu
    div(id="app-container")
      <!-- angular templating -->
      <!-- this is where content will be injected -->
      div(ng-view)

