div(class="w3-card create-form")
  div(class="w3-container w3-blue")
    h2 New Module
  form(class="w3-container w3-padding-small")
    div(class="w3-row")
      label(class="w3-text-blue") ID:
      input(type="text" class="w3-input w3-border" ng-model="id")
    div(class="w3-row")
      label(class="w3-text-blue") Name:
      input(type="text" class="w3-input w3-border" ng-model="name")
    div(class="w3-row")
      label(class="w3-text-blue") Compulsory:
      input(type="text" class="w3-input w3-border" ng-model="compulsory")
    div(class="w3-row")
      label(class="w3-text-blue") Description:
      input(type="text" class="w3-input w3-border" ng-model="description")
    div(class="w3-row")
      label(class="w3-text-blue") Objective:
      input(type="text" class="w3-input w3-border" ng-model="objective")
    br
    a(ng-click="createModule()" class="w3-btn w3-round w3-red" title="Submit") Submit
